/* Define variables for colors */
:root {
    --dark: #333;
    --light: #fff;
}

body {
    /* When the body has the .dark class */
    &.dark {
        background-color: var(--dark);
    }
}

/* Switch styling */
.switch {
    position: absolute;
    right: 5px;
    top: 5px;
}

.switch__input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.switch__label {
    display: block;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: var(--dark);
    border-radius: 25px;
    transition: 0.4s;
}

.switch__label::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid var(--dark);
    background-color: var(--light);
    color: var(--dark);
    transition: 0.6s;
    content: "\f185"; /* Unicode for the sun icon */
    font-family: "Font Awesome 5 Free";
    font-size: 20px; /* Adjust font size for better fit */
    font-weight: 900;
    box-sizing: border-box;
}

/* When the switch is checked */
.switch__input:checked + .switch__label {
    background-color: var(--light);
}

.switch__input:checked + .switch__label::before {
    left: calc(100% - 40px);
    border-color: var(--light);
    background-color: var(--dark);
    color: var(--light);
    content: "\f186"; /* Unicode for the moon icon */
}
